<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <div>
        <p>Authenticated</p>
        <p th:if="${loginError}">Error logging in, check username and password</p>
        <form>
            <label th:for="username" th:text="Username"/>
            <input type="text" th:id="username" name="username" autofocus="true"/>
            <label th:for="password" th:text="Password"/>
            <input type="password" th:id="password">
        </form>
    </p>
</div>
</body>
</html>