<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Title</th>
            <th th:text="Body"></th>
            <th>AuthorId</th>
        </tr>
        <tr th:each="memory : ${memories}">
            <td th:text="${memory.title}"></td>
            <td th:text="${memory.body}"></td>
            <td th:text="${memory.authorId}"></td>
        </tr>
    </table>
</div>
</body>
</html>